body,
input{
    font-family:"Lato";
    font-size: 62.5%;
}
.home__main{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
}

.home__right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f2f2f2;
    width: 100vw;
    padding: 5%;

}
.home__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.home__link{
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: black;

}
.home__welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    font-size: 1rem;
    padding: 6%;
}
.home__left{
    background-color:#242099;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__contact{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 6%;
    font-size: 1rem;
    
}
