body,
input{
    font-family:"Lato";
    font-size: 62.5%;
}

.property__wrapper{
    width: 100%;
    max-width: 1050px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.property__imgdes > img{
    
    width: 40%;
    margin: 10px auto;
    
}
.property__des{
    width: 50%;
    margin: 10px 90px;
    font-size: 1rem;
}
.property__imgdes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 10px auto;
}
.property__banner{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.property__title{
    display: flex;
    flex-direction: row;
    width:100%;
    margin: 5px 10px 0 0;
}
.property__titleleft{
    margin: 20px 40px;
    width: 90%;
}

.property__titleright{
    width: 90%;
    margin: 50px 80px 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size:1rem;
    text-decoration: none;
    color: black;
}

.property__titleright > a {
    font-size:1rem;
    text-decoration: none;
    font-weight: bold;
    color: black;

}

.property__titleright > a:hover{
    color: #252899;
    transform: scale(1.07);
}

@media only screen and (max-width: 975px){
    .property__title{
        display: flex;
        flex-direction: column;
        width:100%;
        margin: 5px 10px 0 0;
    }
    .property__titleright{
        width: 90%;
        margin: 20px 100px 15px 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size:1rem;
        text-decoration: none;
        color: black;
    }

    .property__imgdes{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        margin-top: 10px;
    }

    .property__imgdes > img{
    
        width: 70%;
        margin: 10px 20px 10px 65px;
        
    }
    .property__des{
        width: 70%;
        margin: 10px 70px 10px 65px;
        font-size: 1rem;
    }

}







