body,
input{
    font-family:"Lato";
    font-size: 62.5%;
}

.property__wrapper{
    width: 100%;
    max-width: 1050px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.property__main{
    display: flex;
    flex-direction: column;
    width: 1050px;

}

.property__header{
    display: flex;
    width: 40%;
    margin: 5px 5px 0 50px;
}

.property__imgdes > img{
    
    width: 40%;
    margin: 10px auto;
    
}
.property__des{
    width: 50%;
    margin: 10px 90px;
    font-size: 1rem;
}
.property__imgdes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 10px auto;
}
.property__banner{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.property__title{
    display: flex;
    flex-direction: row;
    width:100%;
    margin: 5px 10px 0 0;
}
.property__titleleft{
    margin: 20px 40px;
    width: 90%;
}

.property__titleright{
    width: 90%;
    margin: 50px 80px 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size:1rem;
    text-decoration: none;
    color: black;
}

.property__titleright > a {
    font-size:1rem;
    text-decoration: none;
    font-weight: bold;
    color: black;

}

.property__titleright > a:hover{
    color: #252899;
    transform: scale(1.07);
}







